{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "env": {
    "development": {
      "plugins": [
        [
          "babel-plugin-styled-components",
          {
            "ssr": true,
            "displayName": false,
            "transpileTemplateLiterals": false,
            "minify": false
          }
        ],
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-runtime",
        "@babel/plugin-transform-object-assign",
        "react-hot-loader/babel"
      ]
    }
  }
}
